venv/
__pycache__/
*.pyc
*:Zone.Identifier

outputs/**/checkpoint-*/
outputs/checkpoint2_json25/
outputs/checkpoint2_json50/
outputs/ablations/

optimizer.pt
scheduler.pt
scaler.pt
rng_state.pth
training_args.bin